﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = _localizer["Our Contacts"];
    ViewData["btnSaveContacts"] = _localizer["Save Contacts"];
    ViewData["location"] = _localizer["Our location"];

}
<h1>@ViewData["Title"]</h1>


<div class="btn">
    @{Html.BeginForm("CreateContacts", "Printing", FormMethod.Get);
        {
            <div>
                <input type="submit" value=@ViewData["btnSaveContacts"] style="height:27px" />
            </div>
        }
        Html.EndForm();
    }
</div>

<!--
<div class="btn">
    @{Html.BeginForm("ExportToPDF", "Printing", FormMethod.Post);
        {
            <div>
                <input type="submit" value="Export To PDF" style="width:150px;height:27px" />
            </div>
        }
        Html.EndForm();
    }
</div>
-->



<div class="col">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@ViewData["location"]</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2801.1161791541394!2d-73.94289468469154!3d45.40699674528012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc9385023ef61af%3A0x612d60de15a505be!2sJohn%20Abbott%20College!5e0!3m2!1sen!2sca!4v1576544959635!5m2!1sen!2sca"
                    width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
            </iframe>
            <br><br>

            <h6 class="card-title">Civic / Postal Address:</h6>
            <p class="card-text">21 275 Lakeshore Road</p>
            <p class="card-text">Sainte-Anne-de-Bellevue, Québec</p>
            <p class="card-text">H9X 3L9 Canada</p>
            <h6 class="card-title">Contact Information:</h6>
            <p class="card-text">Phone Number: 514-123-1234</p>
            <p class="card-text">Fax Number: 514-123-4567</p>
            <p class="card-text">Email : <a href="mailto:gilfanovola@gmail.com" target="_blank">General Inquiries </a> | <a href="mailto:gilfanovola@gmail.com" target="_blank">Technical support</a></p>

        </div>
    </div>

</div>