﻿@{
    ViewData["Title"] = "Group's information";
}



<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            Group A (< 2 years)
            <img class="d-block img-fluid" src="~/images/close-up-of-girl-writing-256468.jpg" width="1900" height="1080" alt="First slide" />
            <div>
                <br>
                <h5>
                    Group information (pdf):
                </h5>
                <ul>
                    <li>
                        <div class="btn">
                            @{Html.BeginForm("CurrentWorkload", "Printing", FormMethod.Get);
                                {
                                    <div>
                                        <input type="submit" value="Сurrent workload" style="width:150px;height:27px" />
                                    </div>
                                }
                                Html.EndForm();
                            }
                        </div>
                    </li>

                    <li>
                        <div class="btn">
                            @{Html.BeginForm("WaitingList", "Printing", FormMethod.Get);
                                {
                                    <div>
                                        <input type="submit" value="Waiting list" style="width:150px;height:27px" />
                                    </div>
                                }
                                Html.EndForm();
                            }
                        </div>
                    </li>

                    <!--
                    <li>
                        <div class="btn">
                            @{Html.BeginForm("CreateContacts", "Printing", FormMethod.Get);
                                {
                                    <div>
                                        <input type="submit" value="Free Places" style="width:150px;height:27px" />
                                    </div>
                                }
                                Html.EndForm();
                            }
                        </div>
                    </li>
                    -->
                </ul>

            </div>
        </div>

        <div class="col-sm-6 col-lg-4">
            Group B (2 - 3 years)
            <img class="d-block img-fluid" src="~/images/depth-of-field-photography-of-p-l-a-y-wooden-letter-decors-591652.jpg" width="1900" height="1080" alt="Second slide" />
            <div>
                <br>
                <h5>
                    Group information (pdf):
                </h5>
                <ul>
                    <li>
                        <div class="btn">
                            @{Html.BeginForm("CurrentWorkload", "Printing", FormMethod.Get);
                                {
                                    <div>
                                        <input type="submit" value="Сurrent workload" style="width:150px;height:27px" />
                                    </div>
                                }
                                Html.EndForm();
                            }
                        </div>
                    </li>

                    <li>
                        <div class="btn">
                            @{Html.BeginForm("WaitingList", "Printing", FormMethod.Get);
                                {
                                    <div>
                                        <input type="submit" value="Waiting list" style="width:150px;height:27px" />
                                    </div>
                                }
                                Html.EndForm();
                            }
                        </div>
                    </li>

                    <!--
                    <li>
                        <div class="btn">
                            @{Html.BeginForm("CreateContacts", "Printing", FormMethod.Get);
                                {
                                    <div>
                                        <input type="submit" value="Free Places" style="width:150px;height:27px" />
                                    </div>
                                }
                                Html.EndForm();
                            }
                        </div>
                    </li>
                    -->
                </ul>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4">
            Group C (4 - 5 years)
            <img class="d-block img-fluid" src="~/images/painting-and-drawing-tools-set-207665.jpg" width="1900" height="1080" alt="Third slide" />
            <div>
                <br>
                <h5>
                    Group information (pdf):
                </h5>
                <ul>
                    <li>
                        <div class="btn">
                            @{Html.BeginForm("CurrentWorkload", "Printing", FormMethod.Get);
                                {
                                    <div>
                                        <input type="submit" value="Сurrent workload" style="width:150px;height:27px" />
                                    </div>
                                }
                                Html.EndForm();
                            }
                        </div>
                    </li>

                    <li>
                        <div class="btn">
                            @{Html.BeginForm("WaitingList", "Printing", FormMethod.Get);
                                {
                                    <div>
                                        <input type="submit" value="Waiting list" style="width:150px;height:27px" />
                                    </div>
                                }
                                Html.EndForm();
                            }
                        </div>
                    </li>

                    <!--
                    <li>
                        <div class="btn">
                            @{Html.BeginForm("CreateContacts", "Printing", FormMethod.Get);
                                {
                                    <div>
                                        <input type="submit" value="Free Places" style="width:150px;height:27px" />
                                    </div>
                                }
                                Html.EndForm();
                            }
                        </div>
                    </li>
                    -->
                </ul>

            </div>

        </div>
    </div>
</div>