﻿@{
    ViewData["Title"] = "Home Page";
}

<!--div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</!-div-->

<header>
    <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block img-fluid" src="~/images/close-up-of-girl-writing-256468.jpg" width="1900" height="1080" alt="First slide" />
                <div class="carousel-caption" role="option">
                    <h2>
                        All information about our groups:
                        <a asp-area="" asp-controller="Home" asp-action="Groups">Our Groups</a>
                    </h2>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" src="~/images/depth-of-field-photography-of-p-l-a-y-wooden-letter-decors-591652.jpg" width="1900" height="1080" alt="Second slide" />
                <div class="carousel-caption" role="option">
                    <h2>

                        Would you like to enroll in our kindergarten?
                        <a asp-area="" asp-controller="Parents" asp-action="Create">Register</a>
                    </h2>
                </div>

            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" src="~/images/painting-and-drawing-tools-set-207665.jpg" width="1900" height="1080" alt="Third slide" />
                <div class="carousel-caption" role="option">
                    <h2>

                        Would you like to contact us?
                        <a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                    </h2>
                </div>

            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>
