﻿@model DaycareProject.Models.Subjects

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subjects</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedTs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedTs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentNavigation.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
