﻿@model IEnumerable<DaycareProject.Models.Subjects>

@{
    ViewData["Title"] = "Index";
}

<h1>Subjects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Created Time
            </th>
            <th>
                Parent email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentNavigation.Email)
            </td>
            <td>
                @*
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><br />
                *@
                <a asp-action="ViewAddComments" asp-route-id="@item.Id">View and add comments</a>
            </td>
        </tr>
}
    </tbody>
</table>
