﻿@using Microsoft.AspNetCore.Http
@model IEnumerable<DaycareProject.Models.Comments>

@{
    ViewData["Title"] = "ViewAddComments";
}

<h1>ViewAddComments</h1>

<div>
    <a asp-action="Index">Back to Subjects List</a>
</div>
@*
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentNavigation.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectNavigation.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
*@
<h5>Subject: </h5>
<p style="border: 2px solid grey">@ViewBag.Subject.Title</p>
<span style="font-style: italic">Posted on @ViewBag.Subject.CreatedTs by @ViewBag.Subject.ParentNavigation.Email</span>
<hr>
<h5>Previous comments: </h5>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Previous comments:
</button>
<div class="collapse" id="collapseExample">
    @foreach (var item in Model)
    {
        <div style="border: 1px dotted grey">
            <span>@Html.DisplayFor(modelItem => item.ParentNavigation.FirsName) (@Html.DisplayFor(modelItem => item.CreatedTs)):</span>
            <div>@Html.DisplayFor(modelItem => item.Body)</div>
        </div>
    }
</div>
<hr>

<h5>Current discussion: </h5>
<div class="container">
    <div class="msg">
        <div id="msgs"></div>
    </div>

    <div>
        <input type="text" style="max-width:unset;width:100%;max-width:100%" id="MessageField" placeholder="type message and press enter" />
    </div>
    <span id="errorMessage" style="color:red">Message should not contain ';'</span>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#errorMessage').hide();
        var userName = '@Context.Session.GetString("SessionUserName")';

        var protocol = location.protocol === "https:" ? "wss:" : "ws:";
        var wsUri = protocol + "//" + window.location.host;
        var socket = new WebSocket(wsUri);
        socket.onopen = e => {
            console.log("socket opened", e);
        };

        socket.onclose = function (e) {
            console.log("socket closed", e);
        };

        socket.onmessage = function (e) {
            console.log(e);
            var dataStr = e.data;
            var dataSpt = dataStr.split(";");
            //$('#msgs').append(e.data + '<br />');
            $('#msgs').append(dataSpt[3] + ":" + dataSpt[2] + '<br />');
        };

        socket.onerror = function (e) {
            console.error(e.data);
        };

        $('#MessageField').keypress(function (e) {
            if (e.which != 13) {
                return;
            }
            e.preventDefault();
            var messageStr = $('#MessageField').val();
            if (messageStr.includes(";")) {
                $('#errorMessage').show();
                return;
            }
            var message1 = userName + ": " + $('#MessageField').val();
            //console.log("sunjectId=" + @ViewData["subjectId"]);
            var sunjectId = @ViewData["subjectId"];
            var userId = @Context.Session.GetInt32("SessionUserId");            
            var message = sunjectId + ";" + userId + ";" + $('#MessageField').val() + ";" + userName; //TODO check that body not contain ;            
            socket.send(message);
            $('#MessageField').val('');
            $('#errorMessage').hide();
        });
    });
    </script>
}
