﻿@model DaycareProject.Models.Children

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Children</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <!--label asp-for="FirstName" class="control-label"></label-->
                <input asp-for="FirstName" class="form-control" placeholder="First name" required="" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--<label asp-for="LastName" class="control-label"></label>-->
                <input asp-for="LastName" class="form-control" placeholder="Last Name" required="" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="Gender" class="control-label"></label></strong><br />
                <input asp-for="Gender" type="radio" id="male" name="gender" value="1">
                <label for="male">Male</label><br>
                <input asp-for="Gender" type="radio" id="female" name="gender" value="2">
                <label for="female">Female</label><br>
                <input asp-for="Gender" type="radio" id="other" name="gender" value="3" checked="checked">
                <label for="other">Other</label>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>            
            <input asp-for="Photo" class="form-control" type="file" id="file1"
                   name="file1"
                   multiple="multiple" /><br />
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
