﻿@model DaycareProject.Models.Children

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Children</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Photo)*@
            <img src="@ViewData["imgChildDetail"]" style="width : 100px ; height: auto" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterTs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegisterTs)
        </dd>
        <dt class="col-sm-2">
            Current Group
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentGroupNavigation.Description)
        </dd>
        <dt class="col-sm-2">
            Parent Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParentNavigation.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
