﻿@model IEnumerable<DaycareProject.Models.Children>

@{
    Layout = null;
}

<h2>Report Vaiting List</h2>

<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
-->

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterTs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentGroupNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthdate)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Photo)*@
                    <img src="@ViewData["imgChildReport" + item.Id]" style="width : 100px ; height: auto" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterTs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentGroupNavigation.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentNavigation.Email)
                </td>
                <!--
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                -->
            </tr>
        }
    </tbody>
</table>
