﻿

@model DaycareProject.Models.Parents

@{
    ViewData["Title"] = "Create";
}

<h1>Sign in</h1>

<h4>Parents</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <!--label asp-for="FirsName" class="control-label"></!-label-->
                <input asp-for="FirsName" class="form-control" placeholder="First name" required="" />
                <span asp-validation-for="FirsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--label asp-for="LastName" class="control-label"></!-label-->
                <input asp-for="LastName" class="form-control" placeholder="Last name" required="" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--label asp-for="Email" class="control-label"></!-label-->
                <input asp-for="Email" class="form-control" placeholder="Email address" required="" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--label asp-for="Password" class="control-label"></!-label-->
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" required="" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--label asp-for="Password" class="control-label"></!-label-->
                <input asp-for="PasswordRepeat" type="password" class="form-control" placeholder="Password(repeat)" required="" />
                <span asp-validation-for="PasswordRepeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--label asp-for="PhoneNo" class="control-label" ></!-label-->
                <input asp-for="PhoneNo" class="form-control" placeholder="Phone number" required="" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--label asp-for="Street" class="control-label"></!-label-->
                <input asp-for="Street" class="form-control" placeholder="Street" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--label asp-for="City" class="control-label"></!-label-->
                <input asp-for="City" class="form-control" placeholder="City" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--label asp-for="Province" class="control-label"></!-label-->
                <input asp-for="Province" class="form-control" placeholder="Province" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--label asp-for="Country" class="control-label"></label-->
                <input asp-for="Country" class="form-control" placeholder="Country" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--label asp-for="PostalCode" class="control-label"></label-->
                <input asp-for="PostalCode" class="form-control" placeholder="Postal Code" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="Gender" class="control-label"></label></strong><br />
                <input asp-for="Gender" type="radio" id="male" name="gender" value="1">
                <label for="male">Male</label><br>
                <input asp-for="Gender" type="radio" id="female" name="gender" value="2">
                <label for="female">Female</label><br>
                <input asp-for="Gender" type="radio" id="other" name="gender" value="3" checked="checked">
                <label for="other">Other</label>
            </div>
            <input asp-for="Photo" class="form-control" type="file" id="file1"
                   name="file1"
                   multiple="multiple" /><br />

            <!--Add recaptcha-->
            <div class="g-recaptcha" data-sitekey="@ViewData["ReCaptchaKey"]"></div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<!--
<div>
    <a asp-action="Index">Back to List</a>
</div>
-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}
