﻿@model DaycareProject.Models.Parents

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>Parents</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <!--label asp-for="Email" class="control-label"></!-label-->
                <input asp-for="Email" class="form-control" placeholder="Email address" required="" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--label asp-for="Password" class="control-label"></!-label-->
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" required="" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}    
}
