﻿<title>@ViewData["Title"] - Pie Chart</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <div class="col-sm-6 col-lg-12" id="chart_div"></div>


    <script type="text/javascript">

        google.charts.load('current', {
            packages: ['corechart', 'bar']
        });
        google.charts.setOnLoadCallback(LoadData);

        function LoadData() {
            $.ajax({

                url: 'PieChart/PopulationChart',
                dataType: "json",
                type: "GET",
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    toastr.error(err.message);
                },
                success: function (data) {
                    console.log(data);
                    PopulationChart(data);
                    return false;
                }
            });
            return false;
        }

        function PopulationChart(data) {
            var dataArray = [
                ['City', 'Population']
            ];
            $.each(data, function (i, item) {
                dataArray.push([item.cityName, item.population]);
            });
            var data = google.visualization.arrayToDataTable(dataArray);
            var options = {
                title: ' Distribution of children by status of membership in groups :',
                chartArea: {
                    width: '50%'
                },
                colors: ['#b0120a', '#7b1fa2', '#ffab91', '#d95f02']
            };
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));

            chart.draw(data, options);
            return false;
        }
    </script>
